{% extends 'base.html'%}

{% block body_content %}

<h1> Send deatils:</h1>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p> {{ form.username.label }}
        {{ form.username(size=32) }}
    </p>
    <p> {{ form.usermail.label }}
        {{ form.usermail(size=64) }}
    </p>
    <p>
        {{form.submit()}}
    </p>
</form>
{% endblock%}